<html>

<head>
    <meta charset="UTF-8"> 
    <title>Edit</title>
    <link rel="stylesheet" href="style.css">
    
        
    </script>
</head>
<div id="abc">
<form action="/create" method="post" id="f2">
    HEBID:<br>
    <input type="text" value="" style="width:500px" name ="HEBID" required><br>
    Title:<br>
    <textarea cols="30" rows="5"style="width:500px" name ="Title" required></textarea><br>
    Author:<br>
    <input type="text" value="" style="width:500px" name ="Author" required><br>
    publisher:<br>
    <input type="text" value="" style="width:500px" name ="Publisher" required><br>
    PublishYear:<br>
    <input type="text" value="" style="width:500px" name ="PubYear" required><br>
    Publish location:<br>
    <input type="text" value="" style="width:500px" name ="LocationPublished" required><br>
    Subject:<br>
    <input type="text" value="" style="width:500px" name ="Subject" required><br>
    Handle:<br>
    <input type="text" value="" style="width:500px" name ="Handle" required><br>
    ISBN:<br>
    <input type="text" value="" style="width:500px" name = "ISBNs" required><br>

</form>
<button type="submit" form="f2">submit</button>
<button type="back" onclick="location.href='/';">back</button>

</div>